.movewrap > div {padding-bottom: 0%; width: 100%;}

.moving {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('/img/bg.jpg') 0 top / 200% repeat-x;
    animation: moveright 50s linear infinite;   /*프레임 움직이는 속도 조절*/
}

@keyframes moveright {
    0% {background-position: 0% left;}
    100% {background-position: 600% center;}
}

