.moving {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('/img/bg.jpg') 0 top / 400% repeat-x;   /*전체화면을 위해 사진 높이에따라 퍼센트 조정 400%*/
    animation: moveright 80s linear infinite;   /*프레임 움직이는 속도 조절*/
}

@keyframes moveright {
    0% {background-position: 0% left;}
    100% {background-position: 600% center;}
}

.tit {
    font-size: 1.4rem;
    color: whitesmoke;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#263343;
    padding: 2px 12px;
}
.navbar ul {
    display: flex;
    list-style: none;
    padding-left: 0px;
}
.navbar ul :hover {
    background: #c0692c;
    border-radius: 4px;
}
.navbar li {
    padding: 2px 12px;
}
.navbar a {
    color: ivory;
}