
.Infobar {
  overflow: hidden;
  background-color: #9a6868;
  position: fixed;
  top: 1;
  width: 100%;

  display: flex;  /*정렬*/
  align-items: center;   /* 상하 가운데 정렬 */
}

.Neon {
  /*font-family: neon;*/
  color: #FB4264;
  /*font-size: 2vw;*/
  /*line-height: 3vw;*/
  text-shadow: 0 0 3vw #F40A35;
}
.Neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}
@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.InfoBox {
  display: flex;
  float: left;
  width: 50%
}
.InfoBox > input {
  flex-grow: 1;
}

.InputBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
}
.InputBar input {
  flex-grow: 1;
}

/** https://www.w3schools.com/howto/howto_css_chat.asp **/

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 20px;    /*상하, 좌우*/
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}


.ChatList {
  margin-top: 50px;
  margin-bottom: 30px;
}

